<tr class="sandwich-row <%= sandwich.open? ? 'open' : 'closed'%>"
  id="sandwich_<%= sandwich.id %>"
  data-sandwich_id="<%= sandwich.id %>">
  <td><%= sandwich.id %></td>
  <td class="ordered_time">
    <% opts = {} %>
    <% opts[:class] = 'timer' if sandwich.open? %>
    <%= time_tag(sandwich.ordered_at, :short, opts) %>
  </td>
  <% if admin %>
    <td><%= sandwich.ordered_by.full_name %></td>
  <% end %>
  <% if closed %>
    <td>
      <%= time_tag(sandwich.completed_at)  if sandwich.completed_at %>
    </td>
    <% if admin %>
      <td><%= sandwich.completed_by.full_name %></td>
    <% end %>
  <% end %>
  <td>
    <%= link_to "#{sandwich.sandwich_size.name} on #{sandwich.bread.name}",
      sandwich %>
  </td>
  <% if admin %>
    <td class="actions">
      <% if sandwich.open? %>
        <%= link_to "close", close_sandwich_path(sandwich), :method => :post %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  <% end %>
</tr>
