<!DOCTYPE html>
<html>
<head>
  <title>Bob's Sandwich Shop | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|Gorditas' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="page">
    <header>
    <h1>Bob's Sandwich Shop</h1>
    </header>

    <section id="sidebar">
    <nav>
    <ul>
      <li><%= link_to "Home", root_url %></li>
      <% if logged_in? %>
        <li> <%= link_to "Log Out",
          {:controller => 'user_sessions', :action => 'destroy'},
          :method => :delete
        %>
        </li>
        <li> <%= link_to "Place Order", "#" %> </li>
        <li> <%= link_to "View My Orders", "#" %> </li>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </ul>
    </nav>
    </section>

    <section id="content">
    <h1><%= yield :title %></h1>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="notice"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
    </section>

    <footer>
    Copyright &copy; 2012 Bob's Sandwich Shop. All Rights Reserved.
    </footer>
  </div>

</body>
</html>
